@import "tailwindcss";

@theme {
  --color-dicoding-dark: #1e1e1e;
  --color-dicoding-primary: #2d3e50;
}

@layer base {
  body {
    @apply text-white font-sans antialiased;
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-2xl border border-white/10 rounded-2xl;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.001));
}